{% load bootstrap4 %}
{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <!--    bootstrap-->
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'tasks/nav.html' %}
<div class="container wrapper flew-grow-1">
    {% bootstrap_messages %}
    {% block content %}{% endblock %}
</div>
</body>
</html>