{% extends 'tasks/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <a href="{% url 'create_label' %}">{% translate 'create label' %}</a>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>{% translate 'Name' %}</th>
            <th>{% translate 'Date of creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for label in labels %}
        <tr>
            <td>{{ label.pk }}</td>
            <td>{{ label.name }}</td>
            <td>{{ label.time_create|date:"d-m-Y H:i" }}</td>
            <td>
                <a href="{% url 'update_label' label.pk %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'delete_label' label.pk %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}