{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'main' %}">{% translate "Task manager" %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'user_list' %}">{% translate "Users" %}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <span class="navbar-brand mb-0 ">{{ user.username }}</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">{% translate "Logout" %}</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">{% translate "Login" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">{% translate "Register" %}</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>