{% extends 'tasks/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <a class="nav-link" href="{% url 'create_task' %}">{% translate 'Создать задачу' %}</a>

    <div class="card mb-3">
        <div class="card-body bg-light">
            {% include 'tasks/filter_tasks.html' %}
        </div>
    </div>

    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>{% translate 'Имя' %}</th>
            <th>{% translate 'Статус' %}</th>
            <th>{% translate 'Автор' %}</th>
            <th>{% translate 'Исполнитель' %}</th>
            <th>{% translate 'Дата создания' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in filter.qs %}
        <tr>
            <td>{{ task.pk }}</td>
            <td><a href="{% url 'task_details' task.pk %}">{{ task.name }}</a></td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ user.date_joined|date:"d-m-Y" }}</td>
            <td>
                <a href="{% url 'update_task' task.pk %}">{% translate 'Изменить' %}</a>
                <br>
                <a href="{% url 'delete_task' task.pk %}">{% translate 'Удалить' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}