{% extends 'tasks/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <a href="{% url 'create_task' %}">{% translate 'create task' %}</a>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>{% translate 'Title' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Author' %}</th>
            <th>{% translate 'Executor' %}</th>
            <th>{% translate 'Date of creation' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.pk }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.author }}</td>
            <td>{{ task.executor }}</td>
            <td>{{ user.date_joined|date:"d-m-Y" }}</td>
            <td>
                <a href="{% url 'update_task' task.pk %}">{% translate 'Change' %}</a>
                <br>
                <a href="{% url 'delete_task' task.pk %}">{% translate 'Delete' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}