{% extends 'tasks/base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container wrapper flex-grow-1">
    <h1 class="my-4">{{ title }}</h1>
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>{% translate 'Имя пользователя' %}</th>
            <th>{% translate 'Полное имя' %}</th>
            <th>{% translate 'Дата создания' %}</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.get_full_name }}</td>
            <td>{{ user.date_joined|date:"d-m-Y" }}</td>
            <td>
                <a href="{% url 'change_user' user.pk %}">{% translate 'Изменить' %}</a>
                <br>
                <a href="{% url 'delete_user' user.pk %}">{% translate 'Удалить' %}</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}